#ignore everything in Dockerfiles directory for now
/Dockerfiles/WebFarm/
/terraform/.terraform

#except those Dockerfiles i need
#!/Dockerfiles/docker-compose/env_var
#!/Dockerfiles/docker-compose/first_try/*.py

#also ignore python directory for now
/python/*
